* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* moved all universal selectors to the top */
body {
    background-color: #d9dcd6;
}

/* sets color of all anchors */
a {
    color: #fff;
    text-decoration: none;
}

/* sets paragraph font size */
p {
    font-size: 16px;
}

img {
    max-height: 200px;
}

/* consolidated h1 */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* consolidated h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* consolidated h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

/* consolidated ul */
ul {
    list-style-type: none;
}

/* removed the the redundant elements .header and div */
li {
    display: inline-block;
    margin-left: 25px;
}

/* consolidated .header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* removed redundant elements ul and li and div becomes nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removed redundant elements .header and h1 */
.seo {
    color: #d9dcd6;
}

/* main background image on site */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets photo to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets photo to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* removed redundant code 'lead' 'brand' 'cost' */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* removed redundant code 'lead' 'brand' 'cost' */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* consolidated redundant code into one class .service */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}